<div class="row">
  <div class="col s12 m7">
    <div class="card big">
      <div class="card-image">
        <img src="https://pbs.twimg.com/profile_images/465909400880701440/3JULwHa9.png">
        <span class="card-title"><%= current_user.username %></span>
      </div>
      <div class="card-content">
        <p><%= current_user.biography %></p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
