<h1>Enter in the sandbox</h1>

<% if current_user %>
  <%= link_to "Log out",  destroy_user_session_path, method: :delete, class: 'waves-effect waves-light btn-large' %>
<% else %>
  <%= link_to "Sign in", new_user_session_path, class: 'waves-effect waves-light btn-large' %>
<% end %>
